body {
    font-family: 'Roboto', sans-serif;
}

.header-section{
     width: 100%;
     height: 100px;
     background: #00B4D8;
 }

.header-section h1 {
    text-align: center;
    padding: 30px;
    color: #03045E;
}

.map-section {
    background-color: #90E0EF;
}

.map-section #map{
    width: 100%;
    height: 400px;
}

.map-section #info {
    display: table;
    position: relative;
    margin: 0px auto;
    word-wrap: anywhere;
    white-space: pre-wrap;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #90E0EF;
}


.map-section form button {
    padding: 10px;
    transform: translateX(300px);
    font-weight: 700;
    background-color: #03045E;
    color: #CAF0F8;
    border-radius: 1rem;
}

.map-section form button:hover {
    background-color: #00B4D8;
    color: #03045E;
}
